.cartao-pokemon {
    border-top-left-radius: 0.4rem;
    border-top-right-radius: 0.4rem;
    transition: all 0.5s ease-in-out;
    display:none;
}

.cartao-pokemon .cartao-topo {
    padding: 2rem 2rem 0;
    font-size: 0.625rem;
   
    border-top-right-radius: 0.4rem;
    border-top-left-radius: 0.4rem;
}

.cartao-topo .cartao-detalhes {
    display:flex;
    justify-content: space-between;
    align-items: center;
    color:#fff;
}

.cartao-topo .cartao-detalhes h2 {
    margin-bottom: 0.3rem;
}

.cartao-topo .tipo {
    background-color: #e9ecef;
    opacity: 0.5;
    padding: 0.2rem 0.4rem;
    border-radius: 0.6rem;
    
}

.cartao-topo .cartao-imagem {
    width:350px;
    height: 360px;
    

}

.cartao-topo .cartao-imagem  img {
    max-height: 100%;
    animation: pokemon-mover 2.1s ease-in-out alternate infinite;
}


.cartao-pokemon .cartao-informacoes {
    /* size : 80px 30px 50px */
    padding: 5rem 1.875rem 3.125rem;
    border-bottom-left-radius: 0.4rem;
    border-bottom-right-radius: 0.4rem;
    font-weight: 300;
    background: #fff;
    margin-top: -5rem;
    display: flex;
    justify-content: space-between;
    
}

.cartao-informacoes .cartao-status, .cartao-informacoes .cartao-habilidades {
    padding: 0 0.625rem;
    width: 140px;
}

.cartao-informacoes .cartao-status h3, .cartao-informacoes .cartao-habilidades h3{
    border-bottom: 1px solid gray;
    /* size: 10px */
    padding-bottom: 0.313rem;
    margin-bottom:  0.875rem;

}

.cartao-informacoes .cartao-status  li, .cartao-informacoes .cartao-habilidades  li {
    border-bottom: 1px solid gray;
    /* size: 10px */
    padding-bottom: 0.25rem;
    margin-bottom:  0.25rem;
    font-size: 0.938rem ;

}

.eletrico {
    background-color: #F2E205;
}

.grama {
    background-color: #9BF2DA;
}

.fogo {
    background-color: #F27405;
}

.agua {
    background-color: #35BDF2;
}

.trevas {
    background-color: #897ABF;
}

.voador {
    background-color: #F29F05;
}
.aberto {
    display: block;
}
