@media (max-width: 630px){
    
  body {
      font-size: 0.75rem;
  }
    
    .pokedex {
        flex-direction: column;
        padding: 1.875rem 0;
    }

    .cartao-pokemon {
        max-width: 300px;

    }

    .cartao-pokemon .cartao-imagem {
        width: 200px;
        height: 200px;

    }

    

    .cartao-pokemon .cartao-informacoes {
        padding: 3.75rem 1.875rem 1.875rem;
        margin-top: -50px;
    }



    .listagem {
        max-width: 300px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .listagem .pokemon {
        width: 140px;
        border-radius: 0.4rem;
    }

}